<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>clobber</title>
  <link rel="stylesheet" type="text/css" href="nnn.css
  ">
  <script type="text/javascript" src="nnn.js" defer="true"></script>
</head>
<body>

    <!-- <div style="text-align: left;border: solid">
        steps to follow:<br />
    </div>  
 -->
    <div id="contain">
        <div id="player"></div>
        <!-- <div id="video"></div> -->
        <button id="play">play</button>
        <button id="stop">stop</button>
        <button id="subscribe">subscribe</button>
        <form id="form" action="https://ripe-obtainable-summer.glitch.me/code" method="get">
            <input type="text" value="time remaining" name="tcode" id="tim" />
            <input type="submit" value="download" name="dcode" id="download" />
        </form>
        <div id="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea mmodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        </div>
    </div>
    
    

    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
  

    <script type="text/javascript">
        //let fr = document.querySelector('.adss');
    
    

    </script>

</body>
</html>